.info-div {
    margin-top: 32px;
    margin-right: 12px;
    padding-left: 32px;
    position: sticky;
    top: 148px;
    .title {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: right;
        margin-bottom: 32px;
    }
    .cancel {
        background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
    }
}

@media (max-width: 1440px) {
    .info-div {
        margin-right: 32px;
        width: 330px;
        .location-divs .dots {
            width: 20%;
        }
    }
}

@media (max-width: 1240px) {
    .info-div {
        margin-right: 32px;
        width: 276px;
        .car-model-div {
            .dots {
                width: 20%;
            }
        }
    }
}

@media (max-width: 700px) {
    .info-div {
        margin-top: 0px;
        padding-right: 32px;
        width: 100%;
        padding-left: 0px;
        .car-model-div {
            margin-top: 0px !important;
            .dots {
                width: 40%;
                background-position: bottom;
                background-size: 4.5px 1.5px !important;
                background-repeat: repeat-x;
            }
        }

        .location-divs {
            margin-bottom: 8px;
            .dots {
                width: 40%;
                background-position: bottom;
                background-size: 4.5px 1.5px !important;
                background-repeat: repeat-x;
            }
        }
        .title {
            margin-bottom: 24px;
        }
        .price-div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0px;
            .price-dots {
                height: 2px;
                width: 40%;
                background-position: bottom;
                background-size: 4.5px 1.5px !important;
                background-repeat: repeat-x;
                background-image: linear-gradient(to right, var(--main-dark-gray) 20%, rgba(255, 255, 255, 0) 0%);
            }
        }
        .btn {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .info-div {
        padding-left: 0px;
        padding-right: 0px;
        width: 380px;
        .title {
            margin-bottom: 8px;
        }
        .location-divs {
            margin-bottom: 8px;
        }
        .location-divs .dots {
            width: 40%;
        }
        .price-div {
            margin-bottom: 0px;
        }
        .btn {
            width: 380px;
        }
        .price-div .price-dots {
            width: 40%;
        }
    }
}

@media (max-width: 420px) {
    .info-div {
        width: 300px;
        .btn {
            width: 300px;
        }
        .location-divs .dots {
            width: 25%;
        }
        .price-div .price-dots {
            width: 25%;
        }
    }
}
