.page {
    &-content {
        padding-left: 128px;
    }
    .header {
        margin-top: 16px;
        margin-right: 64px;
    }
}
.ant-divider-horizontal {
    margin: 0 -128px !important;
    width: calc(100% + 128px);
}
.ant-divider-vertical {
    height: 86vh;
}
@media (max-width: 1440px) {
    .location-info-row {
        justify-content: space-between !important;
        .location-form-col {
            flex: 0 0 525px !important;
        }
        .divider-col {
            flex: 0 0 1px !important;
        }
    }
}
@media (max-width: 1024px) {
    .page-content {
        padding-left: 96px;
    }
    .location-info-row {
        justify-content: space-between !important;
        .location-form-col {
            flex: 0 0 425px !important;
        }
        .divider-col {
            flex: 0 0 20px !important;
        }
    }
}

@media (max-width: 900px) {
    .page-content {
        padding-left: 224px;
    }
    .location-form-col {
        flex: 0 0 100% !important;
    }
    .divider-col {
        display: none;
    }
    .order-info-col {
        flex: 0 0 100% !important;
    }
}
@media (max-width: 768px) {
    .page-content {
        padding-left: 64px;
    }
    .header-div .name {
        margin-bottom: 0px;
    }
}
