.page {
    &-content {
        padding-left: 128px;
    }
    .header {
        margin-top: 16px;
        margin-right: 64px;
    }
}
.ant-divider-horizontal {
    position: fixed;
    margin: 0 -273px !important;
    width: calc(100% + 273px);
}
.ant-divider-vertical {
    height: 84vh;
}
@media (max-width: 1440px) {
    .location-info-row {
        .divider-col {
            flex: 0 0 30px !important;
        }
    }
}
@media (max-width: 1327px) {
    .location-form-col {
        flex: 0 0 800px !important;
    }
}
@media (max-width: 1240px) {
    .location-info-row {
        justify-content: space-between !important;
        .divider-col {
            flex: 0 0 1px !important;
        }
    }
    .location-form-col {
        flex: 0 0 590px !important;
    }
}
@media (max-width: 1024px) {
    .page-content {
        padding-left: 96px;
    }
    .location-info-row {
        justify-content: space-between !important;
        .location-form-col {
            flex: 0 0 425px !important;
        }
        .divider-col {
            flex: 0 0 20px !important;
        }
    }
}

@media (max-width: 900px) {
    .location-info-row .location-form-col {
        flex: 0 0 390px !important;
    }
    .order-info-col {
        flex: 0 37% !important;
    }
    .divider-col {
        flex: 0 0 1px !important;
    }
}
@media (max-width: 767px) {
    .page-content {
        padding-left: 32px;
    }
    .header {
        margin-bottom: 8px;
    }
    .header-div .name {
        margin-bottom: 0px;
    }
}

@media (max-width: 700px) {
    .header {
        margin-right: 0px !important;
    }
    .content-col {
        flex: 0 0 400px !important;
        justify-content: center;
    }
    .page-content {
        padding-left: 0px;
    }
    .location-form-col {
        flex: 0 0 100% !important;
    }
    .order-info-col {
        flex: 0 500px !important;
    }
    .divider-col {
        display: none;
    }
}

@media (max-width: 500px) {
    .page-content {
        margin-left: 10px;
    }
}
@media (max-width: 420px) {
    .content-col {
        flex: 0 0 300px !important;
        justify-content: center;
    }
    .order-info-col {
        flex: 0 0 300px !important;
    }
}
