.additions-divs {
    .addition-div {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        .text {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
        .dots {
            width: 40%;
            margin-bottom: 16px;
            background-image: linear-gradient(to right, var(--main-dark-gray) 20%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
        }
        .date-dots {
            width: 10%;
            margin-bottom: 16px;
            background-image: linear-gradient(to right, var(--main-dark-gray) 20%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
        }
        .right {
            color: var(--main-dark-gray);
        }
        .days {
            margin-right: -56px;
        }
    }
}
@media (max-width: 1440px) {
    .additions-divs .addition-div .days{
        margin-right: -32px;
    }
}
@media (max-width: 1240px) {
    .additions-divs .addition-div .days{
        margin-right: -16px;
    }
}
@media (max-width: 700px) {
    .additions-divs .addition-div .days {
        margin-right: -74px;
    }
}
@media (max-width: 420px) {
    .additions-divs .addition-div .days {
        margin-right: -40px;
    }
}
