.additions-divs {
    .addition-div {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        .text {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
        .dots {
            width: 42%;
            margin-bottom: 16px;
            background-image: linear-gradient(to right, var(--main-dark-gray) 20%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
        }
        .right {
            color: var(--main-dark-gray);
        }
    }
}
