.ant-steps-item {
    margin-right: 16px;
    padding-left: 4px !important;
    &::after {
        border: 6px solid transparent !important;
        border-bottom: 7px solid var(--main-dark-gray) !important;
        transform: rotate(90deg) !important;
        top: 70% !important;
    }
}
.ant-steps-navigation {
    height: 32px !important;
    width: 426px;
    padding-top: 2px !important;
}
.ant-steps-item-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    margin-right: 16px;
}
.ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-title {
    color: var(--main-accent);
}
.ant-steps-item-active {
    &::before {
        display: none !important;
    }
    .ant-steps-item-container .ant-steps-item-content .ant-steps-item-title {
        color: var(--main-accent) !important;
    }
}
.ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]
    .ant-steps-item-title {
    color: var(--main-black);
}
@media (max-width: 470px) {
    .steps {
        display: flex;
        flex-direction: column;
    }
    .ant-steps-navigation {
        height: 100% !important;
        width: 426px;
        padding-top: 2px !important;
    }
    .ant-steps-item {
        margin-right: 16px;
        padding-left: 4px !important;
        text-align-last: left;
        margin-left: 10px;
        &::after {
            position: relative !important;
            top: -12px !important;
            left: -10% !important;
            display: block !important;
            text-align: center;
            transform: rotate(180deg) !important;
            margin-bottom: -5px;
            border-bottom: 7px solid var(--main-dark-gray) !important;
        }
    }

    .ant-steps-navigation {
        width: 200px !important;
    }
}
