.page {
    .sider {
        width: 64px;
    }
    .content {
        width: 560px !important;
        flex: auto 0 0;
    }
}

@media (max-width: 767px) {
    .page {
        .sider {
            display: none;
        }
    }
}
.ant-layout-sider {
    background: white !important;
    flex: 0 !important;
    min-width: 128px !important;
}
