.page {
    min-height: 100vh;
    .sidebar-icon {
        margin-left: 16px;
        margin-top: 32px;
        cursor: pointer;
    }
    .sidebar-icon:hover {
        stroke: var(--main-accent);
    }
    .collapsed {
        background-color: var(--main-black);
        width: 64px;
        min-height: 100vh;
        position: relative;
    }
    .not-collapsed {
        background-color: var(--main-black);
        width: 752px;
        min-height: 100vh;
    }
    .language-div {
        bottom: 0;
        position: absolute;
        .language-text {
            font-size: 18px;
            color: var(--main-accent);
            font-weight: bold;
            margin-left: 16px;
            margin-bottom: 32px;
            cursor: pointer;
        }
    }
}
