.slider-element {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    .left-arrow {
        margin-top: 48vh !important;
        margin-left: 24px;
    }
    .right-arrow {
        margin-top: 48vh !important;
        margin-right: 24px;
        float: right;
    }
    .text-div {
        margin-left: 64px;
        margin-right: 64px;
        padding-top: 240px;
        .name {
            font-size: 40px;
            font-weight: 500;
            color: white;
            margin-bottom: 8px;
            line-height: 100%;
        }
        .discription {
            font-size: 24px;
            font-weight: 300;
            color: white;
            line-height: 22px;
            margin-bottom: 32px;
        }
        .btn {
            border-radius: 4px;
            height: 48px;
            width: 164px;
        }
        .btn-1 {
            background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
        }
        .btn-2 {
            background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
        }
        .btn-3 {
            background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
        }
        .btn-4 {
            background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
        }
    }
}

@media (max-width: 1400px) {
    .slider-element {
        .text-div {
            padding-top: 280px;
            margin-left: 40px;
            margin-right: 40px;
            .name {
                font-size: 32px;
            }
            .discription {
                font-size: 22px;
            }
        }
        .left-arrow {
            margin-left: 12px;
        }
        .right-arrow {
            margin-right: 12px;
        }
    }
}
@media (max-width: 1023px) {
    .slider-element {
        display: none;
    }
}
