@media (max-width: 1240px) {
    .map {
        width: 570px !important;
    }
}
@media (max-width: 700px) {
    .map {
        width: 500px !important;
    }
}
@media (max-width: 1024px) {
    .map {
        width: 425px !important;
    }
}

@media (max-width: 550px) {
    .map {
        width: 420px !important;
    }
}
@media (max-width: 900px) {
    .map {
        width: 350px !important;
    }
}

@media (max-width: 500px) {
    .map {
        width: 380px !important;
    }
}

@media (max-width: 420px) {
    .map {
        width: 300px !important;
    }
}
